/**
 * modal styles that include modal-lg and modal-sm
 */
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
  .modal-lg {
    width: 900px;
  }
}

.shadow {
  box-shadow: 0px 0px 1px;
}

/**
 * removeable and closer
 */
.removeable {
  position: relative;
}

.removeable .remover {
  position: absolute;
  top: 0px;
  right: 0px;
}

.removeable .status {
  position: absolute;
  top: 0px;
  left: 0px;
}


.preview-box {
  position: relative;
}

.preview-box .preview-container {
  height: 0px;
  width: 0px;
  position: absolute;
  overflow: hidden;
  background: #fff;
  z-index: 999;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.preview-box .preview-container.open {
  box-shadow: 0px 0px 1px #000;
  overflow: auto;
}

#in-works-marker {
  text-align: center;
  width: 200px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  margin-left: -100px
}

#app ul.list-inline>li {
  margin: 5px;
}

/**
 * ---
 */
.custom-font{
  color: #646363;
}

.btn-green-custom { 
  color: #FFFFFF; 
  background-color: #5CB85C; 
  border-color: #5CB85C; 
} 
 
.btn-green-custom:hover, 
.btn-green-custom:focus, 
.btn-green-custom:active, 
.btn-green-custom.active, 
.open .dropdown-toggle.btn-green-custom { 
  color: #FFFFFF; 
  background-color: #287b28; 
  border-color: #5CB85C; 
} 
 
.btn-green-custom:active, 
.btn-green-custom.active, 
.open .dropdown-toggle.btn-green-custom { 
  background-image: none; 
} 
 
.btn-green-custom.disabled, 
.btn-green-custom[disabled], 
fieldset[disabled] .btn-green-custom, 
.btn-green-custom.disabled:hover, 
.btn-green-custom[disabled]:hover, 
fieldset[disabled] .btn-green-custom:hover, 
.btn-green-custom.disabled:focus, 
.btn-green-custom[disabled]:focus, 
fieldset[disabled] .btn-green-custom:focus, 
.btn-green-custom.disabled:active, 
.btn-green-custom[disabled]:active, 
fieldset[disabled] .btn-green-custom:active, 
.btn-green-custom.disabled.active, 
.btn-green-custom[disabled].active, 
fieldset[disabled] .btn-green-custom.active { 
  background-color: #5CB85C; 
  border-color: #5CB85C; 
} 
 
.btn-green-custom .badge { 
  color: #5CB85C; 
  background-color: #FFFFFF; 
}


.btn-grey-custom { 
  color: #FFFFFF; 
  background-color: #686667; 
  border-color: #686667; 
} 
 
.btn-grey-custom:hover, 
.btn-grey-custom:focus, 
.btn-grey-custom:active, 
.btn-grey-custom.active, 
.open .dropdown-toggle.btn-grey-custom { 
  color: #FFFFFF; 
  background-color: #393939; 
  border-color: #686667; 
} 
 
.btn-grey-custom:active, 
.btn-grey-custom.active, 
.open .dropdown-toggle.btn-grey-custom { 
  background-image: none; 
} 
 
.btn-grey-custom.disabled, 
.btn-grey-custom[disabled], 
fieldset[disabled] .btn-grey-custom, 
.btn-grey-custom.disabled:hover, 
.btn-grey-custom[disabled]:hover, 
fieldset[disabled] .btn-grey-custom:hover, 
.btn-grey-custom.disabled:focus, 
.btn-grey-custom[disabled]:focus, 
fieldset[disabled] .btn-grey-custom:focus, 
.btn-grey-custom.disabled:active, 
.btn-grey-custom[disabled]:active, 
fieldset[disabled] .btn-grey-custom:active, 
.btn-grey-custom.disabled.active, 
.btn-grey-custom[disabled].active, 
fieldset[disabled] .btn-grey-custom.active { 
  background-color: #686667; 
  border-color: #686667; 
} 
 
.btn-grey-custom .badge { 
  color: #686667; 
  background-color: #FFFFFF; 
}


.mar-top-0{
  margin-top:0px;
}
.mar-top-5{
  margin-top:5px;
}
.mar-top-8{
  margin-top:8px;
}
.mar-top-17{
  margin-top:17px;
}
.mar-top-30p{
  margin-top: 30%;
}
.mar-top-15p{
  margin-top: 15%;
}
.mar-top-5p{
  margin-top: 5%;
}
.mar-top-4p{
  margin-top: 4%;
}
.mar-top-2p3p{
  margin-top: 2.3%;
}
.mar-top-1p3p{
  margin-top: 1.3%;
}
.mar-bot-0{
  margin-bottom: 0px;
}
.mar-bot-8{
  margin-bottom: 8px;
}
.mar-bot-1p3p{
  margin-bottom: 1.3%;
}
.mar-rt-5{
  margin-right: 5px;
}
.mar-rt-3{
  margin-right: 3px;
}
.mar-rt-33{
  margin-right: 33px;
}
.pad-rt-0{
  padding-right: 0px;
}
.pad-lt-0{
  padding-left: 0px;
}
.pad-lt-9p{
  padding-left: 9%;
}
.pad-lt-18p{
  padding-left: 18%;
}
.line-ht-15{
  line-height: 1.5;
}
.red .active a,
.red .active a:hover {
    background-color: red;
}
.grey-text span{
  color: #646363;
  font-size: 0.8em;
}
.grey-text span.white{
  color: white;
  font-size: 0.8em;
}
.grey-text h3.white{
  color: white;
}
.grey-text small.white{
  color: white;
}
.grey-text span.normal-size{
  font-size: 1em;
}
.grey-text span.label-info{
  color: white;
}
.grey-text .list-unstyled li {
  margin-bottom: 8px;
}
.grey-text h3{
  color: #646363;
}

.grey-text .form-group {
  margin-bottom: 3px;
}

.grey-text ul.list-inline>li {
  margin: 3px !important;
  padding:3px;
  padding-left:0;
  margin-left:0 !important;
}

.grey-text ul.list-inline>li a {
  color:white;
}

.grey-text span.glyphicon.white {
  color: white;
  font-size: 1em;
}
.grey-text .btn-pad{
  padding: 4px 15px;
}
.navbar-grey-custom{
  color: #646363;
  background-color: #F1F1F1;
}
.navbar-grey-custom .navbar-nav>li>a {
  color: #646363;
}
.navbar-grey-custom .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: #646363;
  font-weight:400;
}
ul.basicpillsmenu{
  border-bottom: 1px #ddd solid;
}
.basicpillsmenu.nav-pills>li>a {
  background-color: #686667;
  color: #ffffff;
}
.basicpillsmenu.nav-pills>li>a:hover {
  background-color: #5CB85C;
}
.basicpillsmenu.nav-pills>li.active>a {
  background-color: #5CB85C;
  color: #ffffff;
}
.green-back{
  background: #5CB85C;
  color: white;
}
.scroll-pane{
  height: 80%;
  overflow: scroll;
}
.green-custom-border{
  border-color: #287b28 !important;
}
.green-custom-back{
  background-color: #5CB85C !important;
}
.blue-custom-border{
  border-color: #004b63 !important;
}
.blue-custom-back{
  background-color: #2E68C9 !important;
}
.orange-custom-border{
  border-color: #b67102 !important;
}
.orange-custom-back{
  background-color: #D39600 !important;
}
